/aula01_piscaLED.X/build/
/aula01_piscaLED.X/dist/
/aula02_botaoLED.X/build/
/aula02_botaoLED.X/dist/
/aula04_partidaEstrelaTriangulo.X/dist/
/aula07_lcd8vias.X/dist/
/aula12_adc.X/dist/
/aula13_timer0.X/dist/
/aula17_pwm.X/dist/